.container {
    height: 100%;
} 

.form-box {
    width: 100%;
    max-width: 320px;
    background-color: #202020;
    padding: 24px;
    margin: 120px auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    div + span {
        margin-top: 1rem;
        text-align: center;
        display: block;
        font-size: 12px;
        font-weight: 100;

        p {
            opacity: .5;
        }

        a {
            text-decoration: none;
            color: green;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h1 {
        margin-bottom: 16px;
        width: 100%;
        text-align: center;

        span {
            color: green
        }
    }

    button {
        width: 100%;
        padding: 6px;
        font-weight: bold;
        font-size: 16px;
        margin-top: 16px;
        background-color: green;
        border: none;
        border-radius: 4px;
        color: #181818;

        &:hover {
            filter: brightness(0.8);
            transition: filter 0.2s;
            cursor: pointer
        }
    }
}



