.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    gap: .5rem;
    background-color: #202020;
    position: fixed;
    bottom: 0;

    p {
        opacity: .5
    }

    span {
        opacity: .5
    }


    a {
        text-decoration: none;
        opacity: .5;
        color: white;

        &:hover {
            opacity: 1;
            text-decoration: underline;
        }
    }
}